In [1]:
import pandas as pd

### Exploring Person data

In [2]:
df = pd.read_csv('data/Person.Person.csv', sep=';')

with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
    print(df)

       BusinessEntityID PersonType  NameStyle Title FirstName MiddleName  \
0                     1         EM          0   NaN       Ken          J
1                     2         EM          0   NaN     Terri        Lee
...                 ...        ...        ...   ...       ...        ...
19970             20776         IN          0   NaN   Crystal        NaN
19971             20777         IN          0   NaN   Crystal        NaN

      LastName Suffix  EmailPromotion AdditionalContactInfo  \
0      SÃ¡nchez    NaN               0                   NaN
1        Duffy    NaN               1                   NaN
...        ...    ...             ...                   ...
19970    Zheng    NaN               1                   NaN
19971       Hu    NaN               0                   NaN

                                            Demographics  \
0      <IndividualSurvey xmlns="http://schemas.micros...
1      <IndividualSurvey xmlns="http://schemas.micros...
...                                                  ...
19970  <IndividualSurvey xmlns="http://schemas.micros...
19971  <IndividualSurvey xmlns="http://schemas.micros...

                                    rowguid             ModifiedDate
0      92C4279F-1207-48A3-8448-4636514EB7E2  2009-01-07 00:00:00.000
1      D8763459-8AA8-47CC-AFF7-C9079AF79033  2008-01-24 00:00:00.000
...                                     ...                      ...
19970  386E35E8-97B3-43E4-9B5F-9594C2FF5CEA  2014-01-14 00:00:00.000
19971  1773C8F3-2CC7-4826-A7F5-30D3F36543CD  2013-10-16 00:00:00.000

[19972 rows x 13 columns]

In [3]:
for i in df.columns:
    print(str(i) + ', ' + str(df[i].dtypes) + ', ' + str(df[i].isnull().values.any()))
# Column: name, data type, has null

BusinessEntityID, int64, False
PersonType, object, False
NameStyle, int64, False
Title, object, True
FirstName, object, False
MiddleName, object, True
LastName, object, False
Suffix, object, True
EmailPromotion, int64, False
AdditionalContactInfo, object, True
Demographics, object, False
rowguid, object, False
ModifiedDate, object, False

In [4]:
print(pd.io.sql.get_schema(df.reset_index(), 'person'))

CREATE TABLE "person" (
"index" INTEGER,
  "BusinessEntityID" INTEGER,
  "PersonType" TEXT,
  "NameStyle" INTEGER,
  "Title" TEXT,
  "FirstName" TEXT,
  "MiddleName" TEXT,
  "LastName" TEXT,
  "Suffix" TEXT,
  "EmailPromotion" INTEGER,
  "AdditionalContactInfo" TEXT,
  "Demographics" TEXT,
  "rowguid" TEXT,
  "ModifiedDate" TEXT
)

In [5]:
for i in df.columns:
    if df[i].dtypes != 'object':
        df[i] = df[i].apply(str)
    print(str(i) + ', ' + str(df[i].str.len().max()))
# Column: name, max len

BusinessEntityID, 5
PersonType, 2
NameStyle, 1
Title, 4.0
FirstName, 24
MiddleName, 16.0
LastName, 22
Suffix, 3.0
EmailPromotion, 1
AdditionalContactInfo, 1611.0
Demographics, 623
rowguid, 36
ModifiedDate, 23

In [6]:
selection = df['AdditionalContactInfo'].str.len() == df['AdditionalContactInfo'].str.len().max()
df.iloc[df[selection]['AdditionalContactInfo'].index[0]]['AdditionalContactInfo']

'<AdditionalContactInfo xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/ContactInfo" xmlns:crm="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/ContactRecord" xmlns:act="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/ContactTypes">Customer provided this telephone number for weekend access.<act:telephoneNumber><act:number>605-555-9877</act:number></act:telephoneNumber>secondary phone number.<act:pager><act:number>310-555-5432</act:number><act:SpecialInstructions>Page only if other contact attempts fail.</act:SpecialInstructions></act:pager>Additional home address.<act:homePostalAddress><act:Street>990 5th Avenue</act:Street><act:City>Redmond</act:City><act:StateProvince>WA</act:StateProvince><act:PostalCode>98052</act:PostalCode><act:CountryRegion>USA</act:CountryRegion><act:SpecialInstructions>Use this address for billing only.</act:SpecialInstructions></act:homePostalAddress><act:eMail><act:eMailAddress>Customer3@sample.com</act:eMailAddress><act:SpecialInstructions>Do not send e-mails for urgent issues. Use telephone instead.</act:SpecialInstructions></act:eMail><crm:ContactRecord date="2002-01-01Z">Customer first contacted the sales department. This customer is interested in opening a new bicycle store.</crm:ContactRecord><crm:ContactRecord date="2002-01-05Z">Linda in sales returned the call. Customer provided another telephone number for off-hour coverage.<act:telephoneNumber><act:number>302-555-7733</act:number></act:telephoneNumber>We are still negotiating possible long-term contract.</crm:ContactRecord></AdditionalContactInfo>'

In [7]:
selection2 = df['Demographics'].str.len() == df['Demographics'].str.len().max()
df.iloc[df[selection2]['Demographics'].index[0]]['Demographics']

'<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>-2049.0964</TotalPurchaseYTD><DateFirstPurchase>2003-04-17Z</DateFirstPurchase><BirthDate>1971-12-14Z</BirthDate><MaritalStatus>M</MaritalStatus><YearlyIncome>greater than 100000</YearlyIncome><Gender>M</Gender><TotalChildren>0</TotalChildren><NumberChildrenAtHome>5</NumberChildrenAtHome><Education>Partial High School</Education><Occupation>Professional</Occupation><HomeOwnerFlag>1</HomeOwnerFlag><NumberCarsOwned>4</NumberCarsOwned><CommuteDistance>10+ Miles</CommuteDistance></IndividualSurvey>'

### Exploring Product data

In [8]:
df = pd.read_csv('data/Production.Product.csv', sep=';')

with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
    print(df)

     ProductID                Name ProductNumber  MakeFlag  FinishedGoodsFlag  \
0            1     Adjustable Race       AR-5381         0                  0
1            2        Bearing Ball       BA-8327         0                  0
..         ...                 ...           ...       ...                ...
502        998  Road-750 Black, 48    BK-R19B-48         1                  1
503        999  Road-750 Black, 52    BK-R19B-52         1                  1

     Color  SafetyStockLevel  ReorderPoint StandardCost ListPrice Size  \
0      NaN              1000           750         0,00      0,00  NaN
1      NaN              1000           750         0,00      0,00  NaN
..     ...               ...           ...          ...       ...  ...
502  Black               100            75     343,6496    539,99   48
503  Black               100            75     343,6496    539,99   52

    SizeUnitMeasureCode WeightUnitMeasureCode  Weight  DaysToManufacture  \
0                   NaN                   NaN     NaN                  0
1                   NaN                   NaN     NaN                  0
..                  ...                   ...     ...                ...
502                 CM                    LB    20.13                  4
503                 CM                    LB    20.42                  4

    ProductLine Class Style  ProductSubcategoryID  ProductModelID  \
0           NaN   NaN   NaN                   NaN             NaN
1           NaN   NaN   NaN                   NaN             NaN
..          ...   ...   ...                   ...             ...
502          R     L     U                    2.0            31.0
503          R     L     U                    2.0            31.0

               SellStartDate SellEndDate  DiscontinuedDate  \
0    2008-04-30 00:00:00.000         NaN               NaN
1    2008-04-30 00:00:00.000         NaN               NaN
..                       ...         ...               ...
502  2013-05-30 00:00:00.000         NaN               NaN
503  2013-05-30 00:00:00.000         NaN               NaN

                                  rowguid             ModifiedDate
0    694215B7-08F7-4C0D-ACB1-D734BA44C0C8  2014-02-08 10:01:36.827
1    58AE3C20-4F3A-4749-A7D4-D568806CC537  2014-02-08 10:01:36.827
..                                    ...                      ...
502  3DE9A212-1D49-40B6-B10A-F564D981DBDE  2014-02-08 10:01:36.827
503  AE638923-2B67-4679-B90E-ABBAB17DCA31  2014-02-08 10:01:36.827

[504 rows x 25 columns]

In [9]:
for i in df.columns:
    print(str(i) + ', ' + str(df[i].dtypes) + ', ' + str(df[i].isnull().values.any()))
# Column: name, data type, has null

ProductID, int64, False
Name, object, False
ProductNumber, object, False
MakeFlag, int64, False
FinishedGoodsFlag, int64, False
Color, object, True
SafetyStockLevel, int64, False
ReorderPoint, int64, False
StandardCost, object, False
ListPrice, object, False
Size, object, True
SizeUnitMeasureCode, object, True
WeightUnitMeasureCode, object, True
Weight, float64, True
DaysToManufacture, int64, False
ProductLine, object, True
Class, object, True
Style, object, True
ProductSubcategoryID, float64, True
ProductModelID, float64, True
SellStartDate, object, False
SellEndDate, object, True
DiscontinuedDate, float64, True
rowguid, object, False
ModifiedDate, object, False

In [10]:
print(pd.io.sql.get_schema(df.reset_index(), 'product'))

CREATE TABLE "product" (
"index" INTEGER,
  "ProductID" INTEGER,
  "Name" TEXT,
  "ProductNumber" TEXT,
  "MakeFlag" INTEGER,
  "FinishedGoodsFlag" INTEGER,
  "Color" TEXT,
  "SafetyStockLevel" INTEGER,
  "ReorderPoint" INTEGER,
  "StandardCost" TEXT,
  "ListPrice" TEXT,
  "Size" TEXT,
  "SizeUnitMeasureCode" TEXT,
  "WeightUnitMeasureCode" TEXT,
  "Weight" REAL,
  "DaysToManufacture" INTEGER,
  "ProductLine" TEXT,
  "Class" TEXT,
  "Style" TEXT,
  "ProductSubcategoryID" REAL,
  "ProductModelID" REAL,
  "SellStartDate" TEXT,
  "SellEndDate" TEXT,
  "DiscontinuedDate" REAL,
  "rowguid" TEXT,
  "ModifiedDate" TEXT
)

In [11]:
for i in df.columns:
    if df[i].dtypes != 'object':
        df[i] = df[i].apply(str)
    print(str(i) + ', ' + str(df[i].str.len().max()))
# Column: name, max len

ProductID, 3
Name, 32
ProductNumber, 10
MakeFlag, 1
FinishedGoodsFlag, 1
Color, 12.0
SafetyStockLevel, 4
ReorderPoint, 3
StandardCost, 9
ListPrice, 7
Size, 2.0
SizeUnitMeasureCode, 3.0
WeightUnitMeasureCode, 3.0
Weight, 6
DaysToManufacture, 1
ProductLine, 2.0
Class, 2.0
Style, 2.0
ProductSubcategoryID, 4
ProductModelID, 5
SellStartDate, 23
SellEndDate, 23.0
DiscontinuedDate, 3
rowguid, 36
ModifiedDate, 23

### Exploring Customer data

In [13]:
df = pd.read_csv('data/Sales.Customer.csv', sep=';')

with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
    print(df)

       CustomerID  PersonID  StoreID  TerritoryID AccountNumber  \
0               1       NaN    934.0            1    AW00000001
1               2       NaN   1028.0            1    AW00000002
...           ...       ...      ...          ...           ...
19818       30117    1991.0   1992.0            4    AW00030117
19819       30118    1993.0   1994.0            3    AW00030118

                                    rowguid             ModifiedDate
0      3F5AE95E-B87D-4AED-95B4-C3797AFCB74F  2014-09-12 11:15:07.263
1      E552F657-A9AF-4A7D-A645-C429D6E02491  2014-09-12 11:15:07.263
...                                     ...                      ...
19818  6F08E2FB-1CD3-4F6E-A2E6-385669598B19  2014-09-12 11:15:07.263
19819  2495B4EB-FE8B-459E-A1B6-DBA25C04E626  2014-09-12 11:15:07.263

[19820 rows x 7 columns]

In [14]:
for i in df.columns:
    print(str(i) + ', ' + str(df[i].dtypes) + ', ' + str(df[i].isnull().values.any()))
# Column: name, data type, has null

CustomerID, int64, False
PersonID, float64, True
StoreID, float64, True
TerritoryID, int64, False
AccountNumber, object, False
rowguid, object, False
ModifiedDate, object, False

In [15]:
print(pd.io.sql.get_schema(df.reset_index(), 'customer'))

CREATE TABLE "customer" (
"index" INTEGER,
  "CustomerID" INTEGER,
  "PersonID" REAL,
  "StoreID" REAL,
  "TerritoryID" INTEGER,
  "AccountNumber" TEXT,
  "rowguid" TEXT,
  "ModifiedDate" TEXT
)

In [16]:
for i in df.columns:
    if df[i].dtypes != 'object':
        df[i] = df[i].apply(str)
    print(str(i) + ', ' + str(df[i].str.len().max()))
# Column: name, max len

CustomerID, 5
PersonID, 7
StoreID, 6
TerritoryID, 2
AccountNumber, 10
rowguid, 36
ModifiedDate, 23

### Exploring SalesOrderDetail data

In [18]:
df = pd.read_csv('data/Sales.SalesOrderDetail.csv', sep=';')

with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
    print(df)

        SalesOrderID  SalesOrderDetailID CarrierTrackingNumber  OrderQty  \
0              43659                   1          4911-403C-98         1
1              43659                   2          4911-403C-98         3
...              ...                 ...                   ...       ...
121315         75123              121316                   NaN         1
121316         75123              121317                   NaN         1

        ProductID  SpecialOfferID UnitPrice UnitPriceDiscount  LineTotal  \
0             776               1  2024,994              0,00   2024.994
1             777               1  2024,994              0,00   6074.982
...           ...             ...       ...               ...        ...
121315        879               1    159,00              0,00    159.000
121316        712               1      8,99              0,00      8.990

                                     rowguid             ModifiedDate
0       B207C96D-D9E6-402B-8470-2CC176C42283  2011-05-31 00:00:00.000
1       7ABB600D-1E77-41BE-9FE5-B9142CFC08FA  2011-05-31 00:00:00.000
...                                      ...                      ...
121315  75A89C6A-C60A-47EA-8A52-B52A9C435B64  2014-06-30 00:00:00.000
121316  73646D26-0461-450D-8019-2C6C858619CA  2014-06-30 00:00:00.000

[121317 rows x 11 columns]

In [19]:
for i in df.columns:
    print(str(i) + ', ' + str(df[i].dtypes) + ', ' + str(df[i].isnull().values.any()))
# Column: name, data type, has null

SalesOrderID, int64, False
SalesOrderDetailID, int64, False
CarrierTrackingNumber, object, True
OrderQty, int64, False
ProductID, int64, False
SpecialOfferID, int64, False
UnitPrice, object, False
UnitPriceDiscount, object, False
LineTotal, float64, False
rowguid, object, False
ModifiedDate, object, False

In [20]:
print(pd.io.sql.get_schema(df.reset_index(), 'sales_order_detail'))

CREATE TABLE "sales_order_detail" (
"index" INTEGER,
  "SalesOrderID" INTEGER,
  "SalesOrderDetailID" INTEGER,
  "CarrierTrackingNumber" TEXT,
  "OrderQty" INTEGER,
  "ProductID" INTEGER,
  "SpecialOfferID" INTEGER,
  "UnitPrice" TEXT,
  "UnitPriceDiscount" TEXT,
  "LineTotal" REAL,
  "rowguid" TEXT,
  "ModifiedDate" TEXT
)

In [21]:
for i in df.columns:
    if df[i].dtypes != 'object':
        df[i] = df[i].apply(str)
    print(str(i) + ', ' + str(df[i].str.len().max()))
# Column: name, max len

SalesOrderID, 5
SalesOrderDetailID, 6
CarrierTrackingNumber, 12.0
OrderQty, 2
ProductID, 3
SpecialOfferID, 2
UnitPrice, 9
UnitPriceDiscount, 4
LineTotal, 12
rowguid, 36
ModifiedDate, 23

### Exploring SalesOrderHeader data

In [32]:
df = pd.read_csv('data/Sales.SalesOrderHeader.csv', sep=';')

with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
    print(df)

       SalesOrderID  RevisionNumber                OrderDate  \
0             43659               8  2011-05-31 00:00:00.000
1             43660               8  2011-05-31 00:00:00.000
...             ...             ...                      ...
31463         75122               8  2014-06-30 00:00:00.000
31464         75123               8  2014-06-30 00:00:00.000

                       DueDate                 ShipDate  Status  \
0      2011-06-12 00:00:00.000  2011-06-07 00:00:00.000       5
1      2011-06-12 00:00:00.000  2011-06-07 00:00:00.000       5
...                        ...                      ...     ...
31463  2014-07-12 00:00:00.000  2014-07-07 00:00:00.000       5
31464  2014-07-12 00:00:00.000  2014-07-07 00:00:00.000       5

       OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  \
0                    0          SO43659         PO522145787  10-4020-000676
1                    0          SO43660       PO18850127500  10-4020-000117
...                ...              ...                 ...             ...
31463                1          SO75122                 NaN  10-4030-015868
31464                1          SO75123                 NaN  10-4030-018759

       CustomerID  SalesPersonID  TerritoryID  BillToAddressID  \
0           29825          279.0            5              985
1           29672          279.0            5              921
...           ...            ...          ...              ...
31463       15868            NaN            6            14616
31464       18759            NaN            6            14024

       ShipToAddressID  ShipMethodID  CreditCardID CreditCardApprovalCode  \
0                  985             5       16281.0          105041Vi84182
1                  921             5        5618.0          115213Vi29411
...                ...           ...           ...                    ...
31463            14616             1       18719.0          330022Vi97312
31464            14024             1       10084.0          230370Vi51970

       CurrencyRateID    SubTotal     TaxAmt   Freight    TotalDue  Comment  \
0                 NaN  20565,6206  1971,5149  616,0984  23153,2339      NaN
1                 NaN   1294,2529   124,2483   38,8276   1457,3288      NaN
...               ...         ...        ...       ...         ...      ...
31463             NaN       30,97     2,4776    0,7743     34,2219      NaN
31464             NaN      189,97    15,1976    4,7493    209,9169      NaN

                                    rowguid             ModifiedDate
0      79B65321-39CA-4115-9CBA-8FE0903E12E6  2011-06-07 00:00:00.000
1      738DC42D-D03B-48A1-9822-F95A67EA7389  2011-06-07 00:00:00.000
...                                     ...                      ...
31463  4221035A-4159-492F-AF40-4363A64FFC16  2014-07-07 00:00:00.000
31464  D54752FF-2B54-4BE5-95EA-3B72289C059F  2014-07-07 00:00:00.000

[31465 rows x 26 columns]

In [23]:
for i in df.columns:
    print(str(i) + ', ' + str(df[i].dtypes) + ', ' + str(df[i].isnull().values.any()))
# Column: name, data type, has null

SalesOrderID, int64, False
RevisionNumber, int64, False
OrderDate, object, False
DueDate, object, False
ShipDate, object, False
Status, int64, False
OnlineOrderFlag, int64, False
SalesOrderNumber, object, False
PurchaseOrderNumber, object, True
AccountNumber, object, False
CustomerID, int64, False
SalesPersonID, float64, True
TerritoryID, int64, False
BillToAddressID, int64, False
ShipToAddressID, int64, False
ShipMethodID, int64, False
CreditCardID, float64, True
CreditCardApprovalCode, object, True
CurrencyRateID, float64, True
SubTotal, object, False
TaxAmt, object, False
Freight, object, False
TotalDue, object, False
Comment, float64, True
rowguid, object, False
ModifiedDate, object, False

In [24]:
print(pd.io.sql.get_schema(df.reset_index(), 'sales_order_header'))

CREATE TABLE "sales_order_header" (
"index" INTEGER,
  "SalesOrderID" INTEGER,
  "RevisionNumber" INTEGER,
  "OrderDate" TEXT,
  "DueDate" TEXT,
  "ShipDate" TEXT,
  "Status" INTEGER,
  "OnlineOrderFlag" INTEGER,
  "SalesOrderNumber" TEXT,
  "PurchaseOrderNumber" TEXT,
  "AccountNumber" TEXT,
  "CustomerID" INTEGER,
  "SalesPersonID" REAL,
  "TerritoryID" INTEGER,
  "BillToAddressID" INTEGER,
  "ShipToAddressID" INTEGER,
  "ShipMethodID" INTEGER,
  "CreditCardID" REAL,
  "CreditCardApprovalCode" TEXT,
  "CurrencyRateID" REAL,
  "SubTotal" TEXT,
  "TaxAmt" TEXT,
  "Freight" TEXT,
  "TotalDue" TEXT,
  "Comment" REAL,
  "rowguid" TEXT,
  "ModifiedDate" TEXT
)

In [25]:
for i in df.columns:
    if df[i].dtypes != 'object':
        df[i] = df[i].apply(str)
    print(str(i) + ', ' + str(df[i].str.len().max()))
# Column: name, max len

SalesOrderID, 5
RevisionNumber, 1
OrderDate, 23
DueDate, 23
ShipDate, 23
Status, 1
OnlineOrderFlag, 1
SalesOrderNumber, 7
PurchaseOrderNumber, 13.0
AccountNumber, 14
CustomerID, 5
SalesPersonID, 5
TerritoryID, 2
BillToAddressID, 5
ShipToAddressID, 5
ShipMethodID, 1
CreditCardID, 7
CreditCardApprovalCode, 15.0
CurrencyRateID, 7
SubTotal, 11
TaxAmt, 10
Freight, 9
TotalDue, 11
Comment, 3
rowguid, 36
ModifiedDate, 23

### Exploring SpecialOfferProduct data

In [33]:
df = pd.read_csv('data/Sales.SpecialOfferProduct.csv', sep=';')

with pd.option_context('display.max_rows', 4, 'display.max_columns', None):
    print(df)

     SpecialOfferID  ProductID                               rowguid  \
0                 1        680  BB30B868-D86C-4557-8DB2-4B2D0A83A0FB
1                 1        706  B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F
..              ...        ...                                   ...
536              16        987  BEBD6F20-D6C2-4511-8C97-1F53B2099D1F
537              16        988  2981C98B-A18F-4153-A6A2-EC453CB130CE

                ModifiedDate
0    2011-04-01 00:00:00.000
1    2011-04-01 00:00:00.000
..                       ...
536  2014-03-01 00:00:00.000
537  2014-03-01 00:00:00.000

[538 rows x 4 columns]

In [34]:
for i in df.columns:
    print(str(i) + ', ' + str(df[i].dtypes) + ', ' + str(df[i].isnull().values.any()))
# Column: name, data type, has null

SpecialOfferID, int64, False
ProductID, int64, False
rowguid, object, False
ModifiedDate, object, False

In [37]:
print(pd.io.sql.get_schema(df.reset_index(), 'special_offer_product'))

CREATE TABLE "special_offer_product" (
"index" INTEGER,
  "SpecialOfferID" TEXT,
  "ProductID" TEXT,
  "rowguid" TEXT,
  "ModifiedDate" TEXT
)

In [36]:
for i in df.columns:
    if df[i].dtypes != 'object':
        df[i] = df[i].apply(str)
    print(str(i) + ', ' + str(df[i].str.len().max()))
# Column: name, max len

SpecialOfferID, 2
ProductID, 3
rowguid, 36
ModifiedDate, 23